<%= javascript_include_tag 'signin' %>
<div class="mask d-flex">
  <div class="container">
    <div class="row d-flex">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card">
          <div class="card-body p-4">
            <h1 class="text-center">Log in</h1>
            <hr>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-outline mb-1 input-group">
                <div class="input-group-text">
                  <i class="fas fa-envelope"></i>
                </div>
                <%= f.email_field :email, autofocus: true, placeholder: 'Email Address' , class: 'form-control' %>
              </div>

              <div class="form-outline mb-3 input-group">
                <div class="input-group-text">
                  <i class="fas fa-lock"></i>
                </div>
                <%= f.password_field :password, autocomplete: "off" , placeholder: 'Password' , class: 'form-control', id: 'password' %>
                <div class="input-group-text" onclick="showPwd()"><i class="fa fa-eye" id="pwdEye"></i></div>
                </div>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                </div>
              <% end -%>

                  <div class="form-group">
                    <%= f.submit "Log in" , class: "btn btn-primary btn-block btn-lg" %>
                  </div>
            <% end %>
                    <div class="text-center">
                      <%= render "devise/shared/links" %>
                    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

