<!-- app/views/users/show.html.erb -->
<div class="col-md-8">
  <h2>Dettagli del Dipendente</h2>
  <p><strong>Nome:</strong> <%= @user.nome %></p>
  <p><strong>Cognome:</strong> <%= @user.cognome %></p>
  <p><strong>Telefono:</strong> <%= @user.telefono %></p>
  <p><strong>Email:</strong> <%= @user.email %></p>
  <p><strong>Azienda:</strong> <%= @user.company_id %></p>
  <p><strong>Descrizione:</strong> <%= @user.descrizione %></p>
  <!-- Aggiungi altri dettagli se necessario -->
  <%= link_to 'Torna alla lista', users_path %>
</div>
