<div class="col-md-8">
    <h2>Dettagli Dipendente</h2>
    <p><strong>Nome:</strong> <%= @selected_dirigente.first_name %></p>
    <p><strong>Cognome:</strong> <%= @selected_dirigente.last_name %></p>
    <p><strong>Telefono:</strong> <%= @selected_dirigente.phone %></p>
    <p><strong>Email:</strong> <%= @selected_dirigente.email %></p>
    <p><strong>Azienda:</strong> <%= @selected_dirigente.company %></p>
    <p><strong>Descrizione:</strong> <%= @selected_dirigente.description %></p>
</div>

