<div class="card p-4">
  <div class="col-md-4 border-right">
    <h2>Dipendenti</h2>
    <%= form_with url: show_selected_user_info_users_path, method: :get, remote: true do %>
      <% dipendenti = User.where(ruolo: 'dipendente') %>
      <%= select_tag :user_id, options_from_collection_for_select(dipendenti, :id, :nome, selected:user.id), prompt: "Seleziona un dipendente" %>
      <%= submit_tag 'Mostra' %>
    <% end %>
  </div>
  <div class="col-md-8" id="user-info">
    <h3>Dettagli per: <%= user.nome %></h3>
    <p>Orario: <%= render 'dirigente/orario_lavoro', user: user %></p>
    <p>Ferie: <%= render 'dirigente/info_ferie', user: user %></p>
    <p>Stipendio: <%= render 'dirigente/info_stipendio', user: user %></p>
  </div>
</div>
