<div class="container-fluid">
    <div class="row">
        <%= render 'pages/dirigenti' %>
        <%= render 'pages/dettagli_dirigente' %>
    </div>
    <div class="row">
        <div class="col-md-4 border-right"></div>
        <%= render 'pages/info_stipendio' %>
    </div>
    <div class="row">
        <div class="col-md-4 border-right"></div>
        <%= render 'pages/info_ferie' %>
    </div>
    <div class="row">
        <div class="col-md-4 border-right"></div>
        <%= render 'pages/orario_lavoro' %>
    </div>
</div>