<!-- Form per selezionare il mese -->
<div id="StipendiInfo">

  <h2>Stipendi del Dipendente</h2>
  <% if user.salaires.present? %>
    <div class="list-group">
      <% user.salaires.each do |salaire| %>
        <div class="list-group-item">
          <h5 class="mb-1">Data: <%= salaire.date.strftime('%B %Y') %></h5>
          <p class="mb-1">Valore: <%= number_to_currency(salaire.value) %></p>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#salaireModal_<%= salaire.id %>">
            Modifica
          </button>

          <!-- Modale per la modifica dello stipendio -->
          <div class="modal fade" id="salaireModal_<%= salaire.id %>" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="salaireModalLabel_<%= salaire.id %>">Modifica Stipendio</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= form_with(model: salaire, url: update_salaire_user_path(salaire.id), method: :patch, local: true) do |f| %>
                  
                    <div class="form-group">
                      <%= f.label :date, 'Data' %>
                      <%= f.date_field :date, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :value, 'Valore' %>
                      <%= f.number_field :value, class: 'form-control' %>
                    </div>
                  
                  <%# <div class="modal-footer"> %>
                    <%= f.submit 'Aggiorna', class: 'btn btn-primary' %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                  <%# </div> %>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Nessuna informazione sullo stipendio disponibile per il mese selezionato.</p>
  <% end %>
</div>
