<div id="holidayInfo">
  <div>
    <h2>Ferie del Dipendente</h2>
    <% if user.holidays.present? %>
      <% user.holidays.each do |holiday| %>
        <%= form_with(model: holiday, url: update_holidays_user_path(user), method: :patch, local: true, id: "holiday_form_#{holiday.id}") do |f| %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Giorni Presi</th>
                <th scope="col">Giorni Rimasti</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <% if current_user.ruolo != "dipendente" %>
                    <%= f.number_field :taken, class: "form-control holiday-input" %>
                  <% else %>
                    <%= holiday.taken %>
                  <% end %>
                </td>
                <td>
                  <% if current_user.ruolo != "dipendente" %>
                    <%= f.number_field :left, class: "form-control holiday-input" %>
                  <% else %>
                    <%= holiday.left %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <% if current_user.ruolo != "dipendente" %>
            <div class="form-group">
              <%= f.submit 'Aggiorna Ferie', class: 'btn btn-primary', id: "submit_button" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <p>Nessuna informazione sulle ferie disponibile.</p>
    <% end %>
  </div>
</div>
