<div class="col-md-8" id="workSchedule">
  <div class="col-md-16">
    <h2>Orario di Lavoro</h2>
    <%= form_with url: update_day_scheduling_path, method: :patch do %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Giorno</th>
            <th scope="col">Ingresso</th>
            <th scope="col">Uscita</th>
          </tr>
        </thead>
        <tbody>
          <% work_schedules = current_user.day_schedulings.group_by { |ds| ds.date.strftime('%A') } %>
          <% ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'].each do |day| %>
            <tr>
              <td><%= day %></td>
              <% if current_user.ruolo != "dipendente" %>
                <td>
                  <input type="time" name="work_schedules[<%= day.downcase %>][start_work]" 
                         value="<%= work_schedules[day]&.first&.start_work&.strftime('%H:%M') || '' %>">
                </td>
                <td>
                  <input type="time" name="work_schedules[<%= day.downcase %>][end_work]" 
                         value="<%= work_schedules[day]&.first&.end_work&.strftime('%H:%M') || '' %>">
                </td>
              <% else %>
                <td><%= work_schedules[day]&.first&.start_work&.strftime('%H:%M') || 'N/A' %></td>
                <td><%= work_schedules[day]&.first&.end_work&.strftime('%H:%M') || 'N/A' %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if current_user.ruolo != "dipendente" %>
        <div class="form-group">
          <%= submit_tag 'Salva Modifiche', class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

